/* Medium Layout: 1280px */

@media only screen and (min-width: 992px ) and (max-width: 1200px){
    
}
/* Tablet Layout: 768px */

@media only screen and (min-width: 768px ) and (max-width: 991px){

}
/* Mobile Layout: 320px */

@media only screen and (max-width: 767px){
    .logo {
        display: none;
    }
    .header-contact {
        display: flex;
        justify-content: space-between;
        float: none;
    }
    .search form input {
        padding-right: 0px;
    }

    .banner-content h2,
    .testimonial-area h4 {
        font-size: 30px;
        line-height: 45px;
    }
    
    .banner-content p {
        margin: 35px 0;
        margin-right: 0;
    }
    a.box-btn {
        margin-bottom: 20px;
    }
    .choice-item {
        margin: 20px 0;
    }
    .testimonial-item .testimonial-top {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: -45px;
    }
    .testimonial-item .testimonial-top h4 {
        margin-left: 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 16px;
    }
    .testimonial-top i.fa-quote-left {
        padding-top: 130px;
    }
    
    .footer-top h4,
    .footer-map {
        margin-top: 25px;
    }
}
/* Medium Layout: 1280px */

@media only screen and (min-width: 480px ) and (max-width: 767px){

}